


.colOne {
    background-image: url('../images/runninghillsBW.gif');
    min-width: 850px;
    height: 555px;
    border-bottom: solid #000000 4px;
}

.sliderContainer {
    min-width: 850px;
    max-height: 473px;
    opacity: 0;
    margin:0 auto;
    
    
}

.slider_h1 {
 
    font-size: 32px;
    font-family: fantasy; 
    
}

.slider_p {
    color: #000000;
    font-size: 28px;
    text-align: center;
    font-family: fantasy;
    max-width: 655px;
    
}

.ion_slider_card {
    border: 1px solid #666666;
    max-height: 100%;
    max-width: 70%;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.8);
    
    
    
  
}

.card_img {
    margin:0 auto;
      max-width: 130px !important;
      max-height: 130px !important;
    padding-top: 3px;
    
}

body {
    background-color: #C6EE30;
}

.colTwo {
    
    background-color: #202020;
    width: 10%;
    height: 555px;
    overflow: hidden;
    border-bottom: solid #000000 4px;
}

.coursesRow {
  display: flex;
  align-items: center;
  justify-content: center;
    max-width: 100%; 
    height: 353px;
    background-color: #C6EE30;
    overflow: hidden;
    object-position: left;
}

.courseDiv {
  display: flex;
  overflow: hidden;
    
}

.courseIcon {
    width 155px;
    height: 155px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #30C6EE;
    border-radius: 100%;
    opacity: 0;
    margin-bottom: 114px;
    border: solid 4px;
    border-color: #000000;
    transition: 1.6s;
    transition-property: all;
    
}

.courseIcon:hover {
    width 150px;
    height: 150px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #C6EE30;
    border-radius: 100%;
    transition: 0.6s;
    transition-property: all;
    
}
.topRowNav {
    width: 100%;
    height: 43px;
    background-color: #C6EE30;
  
    border-bottom: solid #000000 2px;
    overflow: hidden;
}

.colNavOne {
    max-width: 850px;
}

.head_logo{
    max-width: 300px;
    height: 50px;
    padding-bottom: 13px;
    



}
.box {
  width: 400px;
  height: 25%;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
    
}
.boxes__inner {
  display: flex;
  overflow: hidden;
  height: 350px;
    color: #ffffff;
    font-size: 33px;
  
}

.js-box {
    opacity: 0;
}

.poly_shape {
    width: 75px;
    height: 75px;
    padding-top: 3px;
    fill: black;
    stroke: #C6EE30;
    stroke-width: 1;
   
 
}