body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
    
}

#title {
    color: #C6EE30;
    margin-bottom: -22px;
    
}

#quiz {
    text-indent: 10px;
    display:none;
}

.Qbutton {
    border:4px solid;
    border-radius:55px;
    width: 64px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #C6EE30;
    color: #000000;
    margin: 0 2px 0 2px;
    text-align: center;
    transition: 0.6s;
    transition-property: all;
    margin-top: 5px;
    
}

.Qbutton:hover {
    background-color: #30C6EE;
    color: #000000;
    border: 6px solid;
    border-radius:38px;
    width: 72px;
    transition: 0.6s;
    transition-property: all;
}

Qbutton {
    position: relative;
    float:right;
}

.Qbutton a {
    text-decoration: none;
    color: #000000;
}

#container {
    width: 60%;
    height: 90%;
    opacity: 0.8;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #1C1C1C;
    border: 4px solid #C6EE30;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 102px;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 27px;
    background-color: #1C1C1C;
    transition: 0.6s;
    transition-property: all;
}

ul:hover {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #C6EE30;
    transition: 0.6s;
    transition-property: all;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}


.quizH1 {
   color: #C6EE30;
    font-size: 27px;
}

.titleTxt h1 {
   color: aqua;
    font-size: 12px;
}